@model Product

<style>
    .card {
        min-height: 400px; /* Kartın minimum yüksekliği */
        min-width: 105%;
        height: 100%; /* Kartın yüksekliği tam olacak */
        margin-bottom: 15px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-img-top {
        object-fit: cover;
        height: 200px; /* Resmin yüksekliğini sınırlayın */
    }

    .card-footer {
        margin-top: auto; /* Footer'ı en alta itmek için */
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;  /* Kartlar arasındaki boşluk */
    }
</style>

<div class="card-container">
    <div class="card">
        <img class="card-img-top card-img" src="~/img/new/@Model.ImageUrl" alt="">
        <div class="card-body">
            <h5 class="card-title"><b>@Model.Company</b> @Model.Name</h5>
            <small class="text-muted">
                <i class="fas fa-lira-sign"></i>@Model.Price
            </small>
        </div>
        <div class="card-footer text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a asp-controller="shop" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-primary btn-sm">@_localization.GetKey("product_details_button")</a>

            @if(User.Identity.IsAuthenticated)
            {
                <form asp-controller="Cart" asp-action="AddToCart" method="POST" style="display: inline;">
                    <input type="hidden" name="productId" value="@Model.ProductId">
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit" class="btn btn-primary btn-sm mx-1">@_localization.GetKey("product_addtocart_button")</button>
                </form>
            }
            </div>
        </div>
    </div>
</div>
