<h1 class="h1">@_localization.GetKey("accont_header_title")</h1>
<hr>

<div class="container profile-container">
    <div class="row">
        <div class="col-md-8">
            <div class="username">@User.Identity.Name</div>
            <div class="password">**********</div>
            <div class="islogin">@_localization.GetKey("accont_body_islogin") @User.Identity.IsAuthenticated</div>
            <div class="logintype">@_localization.GetKey("accont_body_logintype") @User.Identity.AuthenticationType</div>
            <div class="logintype">@_localization.GetKey("accont_body_logintype") @User.Identity.GetType()</div>
        </div>
        <div class="col-md-4 text-right">
            <img src="~/img/pp.jpg" alt="Profil Fotoğrafı" class="profile-photo rounded-circle">
        </div>
    </div>

    <div class="mt-4">
        <button class="btn btn-primary">@_localization.GetKey("accont_body_passwordchange")</button>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#accountDeleteModal">@_localization.GetKey("accont_body_deleteaccount")</button>
        <button class="btn btn-secondary">@_localization.GetKey("accont_body_help")</button>
    </div>

    <!-- Modal -->
    <Form asp-controller="Account" asp-action="DeleteUser" method="post">
        <div class="modal fade" id="accountDeleteModal" tabindex="-1" aria-labelledby="accountDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@_localization.GetKey("accont_body_deleteaccount_modal_title")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @_localization.GetKey("accont_body_deleteaccount_modal_body")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@_localization.GetKey("accont_body_deleteaccount_modal_close")</button>
                <button type="submit" class="btn btn-primary">@_localization.GetKey("accont_body_deleteaccount_modal_delete")</button>
            </div>
            </div>
        </div>
        </div>
    </Form>
</div>